// Import all styles using @use
@use './common/modal.scss';
@use './components/KPICards.scss';
@use './components/DockMap.scss';
@use './components/DockItem.scss';
@use './components/DockTable.scss';
@use './components/AccountMenu.scss';
@use './components/ProfileModal.scss';
@use './components/TruckAnimation.scss';
@use './pages/DockDashboard.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
  width: 100%;
}

// Fullscreen styles
:-webkit-full-screen {
  width: 100%;
  height: 100%;
}

:-moz-full-screen {
  width: 100%;
  height: 100%;
}

:-ms-fullscreen {
  width: 100%;
  height: 100%;
}

:fullscreen {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

// Scrollbar styling
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;

  &:hover {
    background: #555;
  }
}
